.sfpo-table {
  border: none;
  width: 100%;
}
.sfpo-table thead th{
  border: none!important;
  border-radius: 10px 10px 0 0;
  padding: 1rem .5rem;
}
.sfpo-table tr:hover{
  background: rgba(100, 100, 100, 0.1);
}
.sfpo-table thead th, .sfpo-table tbody th{
  background: #ddd!important;
  color:#262626;
  filter: brightness(1);
}
.sfpo-table th, .sfpo-table td{
  border: none;
  padding: 10px 0;
  text-align: center;
}
.sfpo-table td{
  border-bottom: none;
  border-left: 1px solid rgba(50,50,50,0.1);
  border-right: none;
  border-top: none;
  padding: 1px;
}
.sfpo-table tbody th {
    box-shadow: 0 14px 13px rgba(0,0,0,0.2);
}
tr.sfpo-links{
  background: none !important;
}
.sfpo-links-th{
  background: none!important;
  box-shadow: none!important;
  padding: 60px 0!important;
}
.sfpo-links td{
  border: none;
  padding: 3px!important;
}
.sfpo-links a{
  background: #ddd!important;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  padding: .375rem .375rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.overflow-x-auto{
  overflow-x: auto;
}
.w-20{
  width: 20%;
}
/*Responsive*/
@media(max-width: 567px){
  .sfpo-table thead th, .sfpo-table tbody th, .sfpo-links a, .sfpo-table td{
    font-size: 11px!important;
  }
}

