.sfpo-all-content{
	margin-right: 10px;
}
.sfpo-table{
  width: 100%;
  position: relative;
  min-width: 0;
  border-collapse: collapse;
}
.sfpo-table tr:hover{
	background: none!important;
}
.sfpo-table th{
	padding: 0!important;
}
.sfpo-table input{
  width: 100%;
  position: relative;
  background: none;
  height: 50px;
  border: none!important;
  box-shadow: none!important;
  text-align: center;
}
.sfpo-table input:hover,.sfpo-table input:focus{
	border: none!important;
	box-shadow: none!important;
}
.sfpo-table th input{
  border: 1px solid #ccc;
}
.sfpo-admin-title{
  padding: 20px 0;
  text-align: center;
  line-height: normal;
}
.sfpo-w-100{
	width: 100%;
}
.sfpo-w-25{
	width: 25%;
}
.sfpo-text-center{
	text-align: center;
}
.sfpo-no-border td{
	border: none!important;
}
.sfpo-w-50{
	width: 50%;
}
.button-red, .button-green{
	padding: 5px 5px!important;
	height: 30px!important;
	line-height: 9px!important;
	text-align: center;
	border: none!important;
}
.button-red{
	background: #bf2b2b!important;
	color: #fff!important;
}
.button-green{
	background: #097c32!important;
	color: #fff!important;
}